extends layout
block content
	div.jumbotron
		h1.m1= title
		p.lead
			h3.m| Dottore
			h5.m2| Un gladiador no teme a la muerte. La abraza, la acaricia, se la tira.
			h3.m| Batiatus
			h5.m2| Un hombre debe aceptar su destino, o ser destruído por él.
			h3.m| Dottore
			h5.m2| crixus ¿que hay debajo de sus pies?
			h3.m| Crixus
			h5.m2| Terreno sagrado, dottore. regado con lagrimas de sangre.
			h3.m| Dottore
			h5.m2
					| sus lagrimas su sangre, sus pateticas vidas, forjadas en algo que valen la pena
					| escuchen, aprendan y quizas vivan
					| como gladiadores.
			h3.m| Dottore
			h5.m2| Un corazon que sufre pesa mas que su espada.			
		br
				
	h3.muted  Un gladiador no le teme a la muerte, la abraza, la acaricia, se la tira.....
