extends layout
block content
	div.jumbotron
		h1.m1= title
		p.lead
			h3.m| Crixus 
			<Img  src = "/img/c.jpg"  clase = "img-circle" >
			h3.m| Naevia 
			<Img  src = "/img/n.jpg"  clase = "img-circle" >
			h3.m| Oenomao 
			<Img  src = "/img/o.jpg"  clase = "img-circle" >
			h3.m| Leyendas 
			<Img  src = "/img/t.jpg"  clase = "img-circle" >
		br
	h3.muted  Un gladiador no le teme a la muerte, la abraza, la acaricia, se la tira.....
