extends layout
block content
	div.jumbotron
		h1.m1= title
		p.lead
			h3.m| Crixus ¿Que es lo que tienes bajo tus pies?
			h4.m2| Terreno sagrado, dottore. regado con lagrimas de sangre	
		br
				
	h3.muted  Un gladiador no le teme a la muerte, la abraza, la acaricia, se la tira.....
