doctype 5
html(lang="es")
	head
		meta(charset="utf-8")
		title= title
		link(rel="stylesheet", href="/css/bootstrap.css")
	body
		section.container
			include partes/menu
			block content
			
		script(src='/js/jquery-1.9.1.min.js')