extends layout
block content
	div.jumbotron
		h1.m1= title
		p.lead
			h3.m| SPARTACUS
			h5.m2
				| Terreno sagrado, dottore. regado con lagrimas de sangre	
				| Spartacus lucha por mantener los lazos entre los gladiadores y esclavos. 
				| Para ello, debe lograr un equilibrio entre los sacrificios que requiere ser un 
				| riguroso líder por una causa justa y su sed de venganza personal, sangrienta, contra 
				| los romanos que le robaron su vida anterior.
			h3.m| CRIXUS 
			h5.m2
				| ingresa en el ludus con un único sueño en mente: Alcanzar la gloria que siempre ha deseado. 
				| Para ello, deberá empezar desde abajo en la escuela de gladiadores y luchar contra titanes más experimentados que él
			h3.m| LUCRETIA 
			h5.m2
				| pilar fundamental de su marido, siempre apoyará todas sus ambiciones. 
				| Consciente de  su papel como mujer romana, descubrirá que posee un talento 
				| innato para manejar los engranajes del poder cuando sea necesario.
			h3.m| BATIATUS 
			h5.m2
				| Audaz e impulsivo, Batiatus es un joven cuyo carácter se contrapone a la sobriedad y 
				| apego por los convencionalismos de su padre. Tras regresar al ludus de su familia mientras su
				| progenitor se recupera de sus problemas de salud, sueña con lograr el éxito y eclipsar a Titus, 
				| por lo que emprende junto a su mujer Lucrecia una oscura estrategia para conseguirlo.
			h3.m| GANNICUS
			h5.m2
				| luchador es el mejor amigo de Oenomaus y de su mujer Melitta. 
				| Juntos conforman un singular triángulo de amistad
			h3.m| OENOMAUS 
			h5.m2
				| Tras sobrevivir a un cruento combate contra el legendario Theokoles, Oenomaus ve 
				| cómo su estatus de primer gladiador del ludus podría llegar a su fin. Este esclavo, que 
				| sigue las directrices de sus amos, anhela regresar a la  arena y recuperar el lugar que le pertenec
			h3.m| BARCA 
			h5.m2
				| Barca es un gladiador implacable y hombre de confianza de Batiatus. 
				| Apreciado por sus proezas en la arena, su talento y discreción, Barca es uno de los 
				| gladiadores más valiosos del ludus. Tras ganarse la confianza de Batiatus, se encarga de 
				| solucionar los turbios asuntos de su amo. A pesar de la violencia que marca su vida de gladiador, 
				| Barca muestra en ocasiones una gran sensibilidad, rara entre los hombres de su clase.
			
		br
				
	h3.muted  Un gladiador no le teme a la muerte, la abraza, la acaricia, se la tira.....
