extends layout
block content
	div.jumbotron
		h1= title
		p.lead
	p.imglg: img(src="/img/untitled.jpg")br/	
	| Se han establecido varias rutas turisticas en El Salvador, las cuales han surgido a raiz de los diferentes atractivos que poseen los pueblos, acontecimientos ocurridos o vestigios dejados por los indigenas que vivieron en estas tierras, entre dichas rutas podemos encontrar las siguientes: 
	p.imglg: img(src="/img/ruta las flores.jpg")br/
	p.imglg: img(src="/img/ruta.jpg")	br/
	| La Ruta de Las Flores se localiza en la sierra Apaneca-Ilamatepec, alcanza una altura maxima de 2,365.07 metros sobre el nivel del mar, por lo cual posee un clima fresco y agradable. Dicha ruta comprende cinco destinos llenos de tradicion cultural, exquisitos platillos tipicos en sus diferentes festivales gastronomicos y un estupendo atractivo natural con los mas bellos paisajes a su alrededor. 
	p.imglg: img(src="/img/la paz.jpg")br/
	p.imglg: img(src="/img/paz.jpg")br/	
	| Se ubica en el Departamento de Morazan, la cual incluye los pueblos que sufrieron la mayor actividad belica durante los 12 años de guerra civil que vivio el pais en la decada de los años ochenta, en estos sitios encontraras una gran cantidad de hoteles y restaurantes, asi podra encontrarse mas comodo para conocer toda su historia.
	p.imglg: img(src="/img/arqueo.jpg")br/
	p.imglg: img(src="/img/ark.jpg")	br/
	| Conoce como vivieron nuestras antiguas civilizaciones en una de las principales rutas turisticas de El Salvador, remontate a aquellos grandiosos lugares que existieron antes de la colonizacion, de los cuales han quedado algunas ruinas. Sabras tambien cual era el medio de transporte, las joyas que utilizaban sus princesas y como poco a poco fue desapareciendo esta poderosa cultura.