extends layout
block content
	div.jumbotron
		h1.m1= title
		p.lead
			div.accordion#accordion2
				div.accordion-group
					div.accordion-heading
						a(class="accordion-toggle", data-toggle="collapse", data-parent="#accordion2", href="#collapseOne") Temporada 1
					div#collapseOne.accordion-body.collapse.in.out
						div.accordion-inner
							p
								| La serie narra la vida del célebre Espartaco, desde su captura a 
								| manos de los romanos en la región de Tracia pasando por su vida en la escuela de 
								| gladiadores de Batiatus hasta su rebelión y huida junto a sus compañeros gladiadores 
								| luego de ganar su confianza. Se relatan todas las peripecias de Espartaco dentro del 
								| ludus, su convivencia entre los demás gladiadores y cómo son tratados por los romanos; 
								| de igual manera que se exponen las vivencias de Batiatus, el lanista, y sus intentos de 
								| ascender socialmente, utilizando sin escrúpulos a los gladiadores.
				div.accordion-group
					div.accordion-heading
						a(class="accordion-toggle", data-toggle="collapse", data-parent="#accordion2", href="#collapseTwo") Temporada 2
					div#collapseTwo.accordion-body.collapse.in.out
						div.accordion-inner
							| La miniserie destaca la sangrienta historia de la Casa de Batiatus y la ciudad de 
							| Capua antes de la llegada de Spartacus. Quintus Lentulus Batiatus se hace lanista cuando él asume el ludus de su padre.
							| Tiene la ambición de ganar a la sombra de su padre para buscar el reconocimiento de su propio nombre 
							| y encontrar la grandeza de su casa. A su lado tiene a su preciosa esposa Lucretia que ayudará a su marido 
							| a alcanzar su objetivo, cueste lo que le cueste. Batiatus pone todas sus fortunas sobre el hombre que lo ayudará
							| a ganar la fama y la gloria, su mejor gladiador, Gannicus; un experto guerrero que maneja sus espadas en la
							| arena como si de un titán se tratase. Aparece en escena Crixus, comprado como un recluta indisciplinado y 
							| despeinado en el primer episodio, el galo aguanta burlas y amenazas de muerte hasta hacerse el mayor gladiador 
							| en la casa después de Gannicus. Existirán muchas tentativas de Tullius a Quintus para obtener a Gannicus, sus 
							| relaciones con su padre Titus y amigo Solonius comienzan a sufrir la tensión de la ambición implacable de Quintus. 
							| El antiguo gladiador Oenomaus de mala gana se retira del combate para hacerse Doctore, mientras los reclutas sirios 
							| Ashur y Dagan se hacen enemigos feroces, Ashur trata de demostrarse digno de ser un gran gladiador. Los Gladiadores 
							| veteranos como Barca y Gannicus ven a Crixus como futuro campeón, pero temen que sus propias carreras se vean truncadas, 
							| como las maquinaciones de Batiatus y Lucretia para hacer que la corte de la élite de Capua se estremezca ante su casa, y 
							| que esta situación acabe en tragedia para varios miembros de la casa. Contra todo esto, la espléndida nueva arena de la 
							| ciudad se acerca a la terminación y con ello los juegos de apertura que convertiran a hombres en dioses.
				div.accordion-group
					div.accordion-heading
						a(class="accordion-toggle", data-toggle="collapse", data-parent="#accordion2", href="#collapseThree") Temporada 3
					div#collapseThree.accordion-body.collapse.in.out
						div.accordion-inner
							| La miniserie destaca la sangrienta historia de la Casa de Batiatus y la ciudad de 
							| Capua antes de la llegada de Spartacus. Quintus Lentulus Batiatus se hace lanista cuando él asume el ludus de su padre.
							| Tiene la ambición de ganar a la sombra de su padre para buscar el reconocimiento de su propio nombre 
							| y encontrar la grandeza de su casa. A su lado tiene a su preciosa esposa Lucretia que ayudará a su marido 
							| a alcanzar su objetivo, cueste lo que le cueste. Batiatus pone todas sus fortunas sobre el hombre que lo ayudará
							| a ganar la fama y la gloria, su mejor gladiador, Gannicus; un experto guerrero que maneja sus espadas en la
							| arena como si de un titán se tratase. Aparece en escena Crixus, comprado como un recluta indisciplinado y 
							| despeinado en el primer episodio, el galo aguanta burlas y amenazas de muerte hasta hacerse el mayor gladiador 
							| en la casa después de Gannicus. Existirán muchas tentativas de Tullius a Quintus para obtener a Gannicus, sus 
							| relaciones con su padre Titus y amigo Solonius comienzan a sufrir la tensión de la ambición implacable de Quintus. 
							| El antiguo gladiador Oenomaus de mala gana se retira del combate para hacerse Doctore, mientras los reclutas sirios 
							| Ashur y Dagan se hacen enemigos feroces, Ashur trata de demostrarse digno de ser un gran gladiador. Los Gladiadores 
							| veteranos como Barca y Gannicus ven a Crixus como futuro campeón, pero temen que sus propias carreras se vean truncadas, 
							| como las maquinaciones de Batiatus y Lucretia para hacer que la corte de la élite de Capua se estremezca ante su casa, y 
							| que esta situación acabe en tragedia para varios miembros de la casa. Contra todo esto, la espléndida nueva arena de la 
							| ciudad se acerca a la terminación y con ello los juegos de apertura que convertiran a hombres en dioses.
				div.accordion-group
					div.accordion-heading
						a(class="accordion-toggle", data-toggle="collapse", data-parent="#accordion2", href="#collapseFour") Temporada 4
					div#collapseFour.accordion-body.collapse.in.out
						div.accordion-inner
							| La miniserie destaca la sangrienta historia de la Casa de Batiatus y la ciudad de 
							| Capua antes de la llegada de Spartacus. Quintus Lentulus Batiatus se hace lanista cuando él asume el ludus de su padre.
							| Tiene la ambición de ganar a la sombra de su padre para buscar el reconocimiento de su propio nombre 
							| y encontrar la grandeza de su casa. A su lado tiene a su preciosa esposa Lucretia que ayudará a su marido 
							| a alcanzar su objetivo, cueste lo que le cueste. Batiatus pone todas sus fortunas sobre el hombre que lo ayudará
							| a ganar la fama y la gloria, su mejor gladiador, Gannicus; un experto guerrero que maneja sus espadas en la
							| arena como si de un titán se tratase. Aparece en escena Crixus, comprado como un recluta indisciplinado y 
							| despeinado en el primer episodio, el galo aguanta burlas y amenazas de muerte hasta hacerse el mayor gladiador 
							| en la casa después de Gannicus. Existirán muchas tentativas de Tullius a Quintus para obtener a Gannicus, sus 
							| relaciones con su padre Titus y amigo Solonius comienzan a sufrir la tensión de la ambición implacable de Quintus. 
							| El antiguo gladiador Oenomaus de mala gana se retira del combate para hacerse Doctore, mientras los reclutas sirios 
							| Ashur y Dagan se hacen enemigos feroces, Ashur trata de demostrarse digno de ser un gran gladiador. Los Gladiadores 
							| veteranos como Barca y Gannicus ven a Crixus como futuro campeón, pero temen que sus propias carreras se vean truncadas, 
							| como las maquinaciones de Batiatus y Lucretia para hacer que la corte de la élite de Capua se estremezca ante su casa, y 
							| que esta situación acabe en tragedia para varios miembros de la casa. Contra todo esto, la espléndida nueva arena de la 
							| ciudad se acerca a la terminación y con ello los juegos de apertura que convertiran a hombres en dioses.
							div.accordion-group
				
	h3.muted  Un gladiador no le teme a la muerte, la abraza, la acaricia, se la tira.....
